.formcontacto {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: center;
  text-align: left;
  font-weight: 400;
}
.formcontacto__inner {
  background: var(--color-secondary);
  border-radius: 4px;
}
.formcontacto__img {
  display: none;
}

.formcontacto__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
  margin: 1rem;
}
.formcontacto__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}
.formcontacto__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  padding: 1rem;
  align-self: stretch;
}
.formcontacto__form input {
  display: flex;
  padding: 0.75rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4px;
  outline: none;
  border: none;
}
.formcontacto__form textarea {
  align-self: stretch;
  height: 20vh;
  padding: 0.75rem;
  resize: none;
  border-radius: 4px;
  outline: none;
  border: none;
}
.formcontacto__boton {
  align-self: stretch;
  border: none;
  padding: 10px 20px;
  text-align: center;
  border-radius: 4px;
  margin: 4px 2px; 
  background: var(--color-primary);
  color: var(--color-text);
}

/*Tablet*/
@media (min-width: 768px) {
  .formcontacto {
    flex-direction: row;
    max-width: 1024px;
  }
  .formcontacto__img {
    display: flex;
    height: auto;
    width: 40vw;
    object-fit: cover;
  }
  .formcontacto__inner {
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
}

/*Desktop*/
@media (min-width: 1024px) {
}
