.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.header__icon {
  display: flex;
  align-items: center;
}
.header__icon__avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.header__icon__name {
  font-weight: 700;
}

/*Nav*/
.header__nav {
  display: flex;
}
.header__nav > button {
  margin-left: 1rem;
}
.nav__menu__link {
  margin: 1rem;
  font-weight: 400;
}
.nav__color_btn {
  order: -1;
}

.nav__num {
  margin-right: 0.5rem;
  font-weight: 700;
}
.nav__menu__link:hover {
  color: var(--color-primary-offset);
}

@media (max-width: 1024px) {
  .overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    padding: 8px;
    font-size: 2.2rem;
    color: rgb(222, 222, 222);
    display: block;
  }
  .overlay .closebtn {
    position: absolute;
    padding: 0%;
    right: 7%;
    font-size: 60px;
  }
  .sticky {
    position: fixed;
    top: 2%;
    right: 4%;
    z-index: 2;
    padding: 0;
    font-size: 2rem;

  }
}

/*Tablet*/
@media (min-width: 768px) {
  .header {
    padding: 3rem 0;
  }
}

/*Desktop*/
@media (min-width: 1024px) {
  .nav__menu {
    display: flex;
  }
  .nav__menu__list {
    display: flex;
  }
  .nav__toggle_btn,
  .closebtn {
    display: none;
  }
  .nav__color_btn {
    order: 0;
    align-self: center;
  }
}
