.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.skills__title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  margin: 2rem;
}
.skills__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.skills__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
}
.skills__img {
  font-size: 6rem;
}
.skills__name {
  flex-shrink: 0;
}
