:root {
  --color-bg: #ffffff;
  --color-bg-offset: #f7f7f9;
  --color-text: #373a3c;
  --color-text-offset: #818a91;
  --color-border: #eceeef;
  --color-primary: #ff335f;
  --color-primary-offset: #ff1447;
  --color-secondary: #43a9a3;
}

.dark-mode {
  --color-bg: #0e141b;
  --color-bg-offset: #252526;
  --color-text: #ffffff;
  --color-text-offset: #818a91;
  --color-border: #2d2d2d;
  --color-primary: #ff5277;
  --color-primary-offset: #ff2957;
  --color-secondary: #43a9a3;
}
.beach {
  --color-bg: #fffffe;
  --color-bg-offset: #e3f6f5;
  --color-text: #272343;
  --color-text-offset: #2d334a;
  --color-border: #e3f6f5;
  --color-primary: #ff9d00;
  --color-primary-offset: #ffca00;
  --color-secondary: #bae8e8;
}
.yoshi {
  --color-bg: #fafbf5;
  --color-bg-offset: #f2ede9;
  --color-text: #41474c;
  --color-text-offset: #757d84;
  --color-border: #e8e0d9;
  --color-primary: #99c221;
  --color-primary-offset: #6e910a;
  --color-secondary: #e55812;
}